<!--This website has been created as a developer process
  All the contains are ilustrative. In case of interesting,
  please do not hesitate to contact me-->

<!-------Main Page------>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="banner">
    <div class="container mt-5 d-flex">
      <h1>Drink Generator</h1>
    </div>

    <!--List of Drinks ---->

    <div class="container mt-5 d-flex text-align:center">
      <ul>
        <% @cocktails.each do |cocktail| %>
          <li>
            <%= link_to cocktail.name, cocktail_path(cocktail) %>
          </li>
        <% end %>

    <!---Button for generate the drink ---->

        <%= link_to "Make your Drink", new_cocktail_path, class: "btn btn-primary mt-2" %>
      </ul>
    </div>
  </div>
</div>
